<img src="images/logo2.png" id="logo" height="150" width="200">
<h1>eMatch...</h1>
<br>
<br>
<h1 id="description"> ..is a fun, interactive matching game</h1>

<br>
<div>
  <p id="username">Enter your username to start playing</p>
  <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
    placeholder="User Name Here">
  <button id="submit" class="btn btn-primary float-right">Submit</button>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

}</script>
<script src="/js/index.js"></script>

<script type="text/javascript">
 function imgchange(e)
   {
      $("#imgs").attr('src',URL.createObjectURL(e.target.files[0]));
  } 
</script>