
<h1> Lets start playing</h1>

<div class="input-group mb-3">
  <input type="text" class="form-control" id = "searchField" placeholder="Enter your eMatch theme here" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="play">Let's Play</button>
  </div>
</div>

<div class = "container" id = "image"></div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/search.js"></script>