<div id="basicUsage">00:00:00</div>
<input type="text" class="form-control" id = "inputTimer" placeholder="timer" aria-label="timer" aria-describedby="addon-wrapping"></div>
<input type="text" class="form-control" id = "inputClicks" placeholder="clicks" aria-label="clicks" aria-describedby="addon-wrapping"></div>
<div id="scoreClick">Clicks: </div>
<div id = "header"><img src="/images/logo2.png" id = "logo" height="150" width="200">
<h1>eMatch...</h1></div>
<div class="input-group mb-3">
  <input type="text" class="form-control" id = "searchField" placeholder="Enter your eMatch theme here" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" id="play" type="button" >Let's Play</button>
  </div>
</div>
<script>
  var userId = "{{ userId }}";
</script>


<div class = "container" id = "image"></div>


<div id="fireworks-overlay">
  <div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>
</div>
<script src="/easytimer/easytimer.min.js"></script>
<script>
    var timerInstance = new easytimer.Timer();
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/search.js"></script>

<link rel="stylesheet" href="js/notiflix-1.9.1.min.css"/>
<script src="/js/notiflix-1.9.1.min.js"></script>



                    


